html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: inherit;
}

body {
  background-color: rgb(249, 237, 241);
  font-family: arial, sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Header */

header {
  display: grid;
  grid-template-columns: minmax(1vw, 1fr) repeat(8, minmax(40px, 100px)) minmax(1vw, 1fr);
  grid-template-rows: repeat(15, minmax(10px, 2.2vh));
}

.header-bar-top {
  background-color: hsl(231, 100%, 46%);
  grid-column: 1 / -1;
  grid-row: 1 / 4;
}

.header-bar-mid {
  background-color: hsl(231, 92%, 58%);
  grid-column: 1 / -1;
  grid-row: 4 / 11;
}

.header-bar-bot {
  background-color: hsl(231, 100%, 52%);
  grid-column: 1 / -1;
  grid-row: 11 / 16;
}

.login-button {
  align-self: center;
  color: hsl(231, 100%, 90%);
  font-weight: bold;
  grid-column: 8 / 10;
  grid-row: 1 / 4;
  justify-self: center;
}

.title {
  align-self: center;
  grid-column: 3 / 9;
  grid-row: 3 / 12;
  height: 100%;
  justify-self: left;
  width: 100%;
}
