{% extends "base.html" %}
{% block content %}

<header id="header">
  <div class="header-bar-top"></div>
  <div class="header-bar-mid"></div>
  <div class="header-bar-bot"></div>
  <img class="title"
       src="{{ url_for('static', filename='img/logo.svg') }}"
       title="Coordinate"
       alt="Coordinate events with ease">
  {% include "login-menu.html" %}
  <a href="javascript:void(0)"
     id="user-account-button"
     title="open menu"
     onclick="openUserMenu()">
    <b>☰</b>
  </a>
</header>

<main>
  {% include "user-account-menu.html" %}

  <!-- activity list: start -->
  <section id="activity-container">

    {% for activity in activities %}
    <section
        class="activity-wrapper activity-img"
        style="background-image: url('{{ activity.icon }}')">
      <a
          href="{{url_for('display_activity', activity_id=activity.id)}}"
          title="{{activity.name.lower()}} events">
        <svg
            class="text-path"
            viewBox="0 0 220 220"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <path
                id="TextPath"
                d="M 39.3,39.3
                   A 100,100 0 1,0 180.3,39.3" />
          </defs>
          <text class="activity-name">
            {% if activity.name[35:] %}
            <textPath xlink:href="#TextPath"
                      startOffset="50%"
                      text-anchor="middle"
                      class="activity-name-fill">{{ activity.name[:32] }}…</textPath>
            {% else %}
            <textPath xlink:href="#TextPath"
                      startOffset="50%"
                      text-anchor="middle"
                      class="activity-name-fill">{{ activity.name }}</textPath>
            {% endif %}
          </text>
        </svg>
      </a>
    </section>
    {% endfor %}

  </section>
  <!-- activity list: end -->

</main>

<footer>
  {% include "footer.html" %}
</footer>

<section id="user-menu-background" class="modal">
</section>

<script>
  window.addEventListener("resize", adjustActivityContainerRowHeight);

  var activities = document.getElementById('activity-container');
  /*
   * Adjust each row height in 'grid-auto-rows' to match each
   * column width in 'grid-template-columns' to allow the shape
   * of each activity grid item to be set to a circle.
   */
  function adjustActivityContainerRowHeight() {
    var style = window.getComputedStyle(activities);
    // only require the width from one column
    var columnWidth =
        style.getPropertyValue('grid-template-columns').split(" ", 1);
    activities.style.gridAutoRows = columnWidth;
  };

  // Apply inital adjustment to row height
  window.onresize = adjustActivityContainerRowHeight();
</script>

<script>
  var userMenuBackground = document.getElementById("user-menu-background");

  function openUserMenu() {
    document.getElementById("user-account-menu").style.width = "350px";
    userMenuBackground.style.display = "grid";
  }

  function closeUserMenu() {
    document.getElementById("user-account-menu").style.width = "0";
    userMenuBackground.style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target == userMenuBackground) {
      closeUserMenu();
    }
  }
</script>

{% endblock %}
