{% extends "base.html" %}
{% block content %}

<header>
  <div class="header-bar-top"></div>
  <div class="header-bar-mid"></div>
  <div class="header-bar-bot"></div>
  <img class="title" src="{{ url_for('static', filename='img/logo.svg') }}">
  {% include "login-menu.html" %}
  <p class="menu-button">☰</p>
</header>

<main>
  <a href="{{url_for('make_activity')}}">
    <h1>new activity</h1>
  </a>

  <section id="activity-container">

  {% for activity in activities %}
    <section class="activity-wrapper">
      <div class="activity-img">
      </div>
      <a href="{{url_for('display_activity', activity_id=activity.id)}}" class="activity-name">
        <p>{{ activity.name }}</p>
      </a>
    </section>
  {% endfor %}

  </section>

</main>

<footer>
  <div>
    <h6>© 2018 David Simowitz</h6>
  <div>
</footer>

<script>
  window.addEventListener("resize", adjustActivityContainerRowHeight);

  var activities = document.getElementById('activity-container');
  /*
   * Adjust each row height in 'grid-auto-rows' to match each
   * column width in 'grid-template-columns' to allow the shape
   * of each activity grid item to be set to a circle.
   */
  function adjustActivityContainerRowHeight() {
    var style = window.getComputedStyle(activities);
    // only require the width from one column
    var columnWidth =
        style.getPropertyValue('grid-template-columns').split(" ", 1);
    activities.style.gridAutoRows = columnWidth;
  };

  // Apply inital adjustment to row height
  window.onresize = adjustActivityContainerRowHeight();
</script>

{% endblock %}
