<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="utf-8">
    <title>Coordinate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/default.css') }}">
    <!-- Google Sign-in (new) -->
    <meta name="google-signin-client_id" content="979605471365-uf8l8t9g5a3rcmb9cb25un86tt4hqdnr.apps.googleusercontent.com">

    {% if load_scripts %}
      {% for script in load_scripts %}
      <script src="{{ script }}"></script>
      {% endfor %}
    {% endif %}

  </head>

  <body id="page">

    {% block content %}
    {% endblock %}

  </body>

</html>
