{% extends "base.html" %}
{% include "login-menu.html" %}
{% block content %}

<header>
  <h1>Edit {{ activity.name }}</h1>
</header>

<main>

  <form action="{{ url_for('update_activity', activity_id=activity.id) }}" method="post" id="edit-activity">

    <section>

      <fieldset>
        <legend>
          <label for="name">Name:</label>
        </legend>
        <input type="text" size="32" id="name" name="name" value="{{activity.name}}">
      </fieldset>

      <input type="submit" value="Edit Activity">

    </section>

  </form>

</main>

<footer>
</footer>

{% endblock %}
