{% extends "base.html" %}
{% block content %}

<header id="header">
  <div class="header-bar-top"></div>
  <div class="header-bar-mid"></div>
  <div class="header-bar-bot"></div>
  <h1 class="title">{{ event.name }}</h1>
  {% include "login-menu.html" %}
  <a href="javascript:void(0)"
     id="user-account-button"
     title="open menu"
     onclick="openUserMenu()">
    <b>☰</b>
  </a>
</header>

<main>
    {% include "user-account-menu.html" %}

    <section id="event-container">

      <section class="date-wrapper">
      {% if event.start_date and event.end_date and event.start_date != event.end_date %}
        {% if event.starting_date and event.ending_date %}
        <p class="event-date">{{ event.starting_date }} – {{ event.ending_date }}</p>
        {% endif %}
      {% elif event.start_date %}
        {% if event.starting_date %}
        <p class="event-date">{{ event.starting_date }}</p>
        {% endif %}
      {% endif %}
        {% if event.user_id==user_id %}
        <a href="{{url_for('update_event', activity_id=activity.id, event_id=event.id)}}"
           class="display-event"
           title="modify event">
        {% endif %}
          <section class="event-wrapper span-date-wrapper">
            <div class="event-time">
            {% if event.start_date and event.end_date and event.start_date==event.end_date %}
              {% if event.start_time and event.end_time %}
              <p>{{ event.start_time }}–{{ event.end_time }}</p>
              {% elif event.start_time %}
              <p>begins {{ event.start_time }}</p>
              {% elif event.end_time %}
              <p>finishes {{ event.end_time }}</p>
              {% else %}
              <p>all day</p>
              {% endif %}
            {% elif event.start_date and event.end_date and event.start_date!=event.end_date %}
              {% if event.start_time and event.end_time %}
              <p>{{ event.abbr_starting_date }}, {{ event.start_time }}–</p>
              <p>{{ event.abbr_ending_date }}, {{ event.end_time }}</p>
              {% elif event.start_time %}
              <p>{{ event.abbr_starting_date }}, {{ event.start_time }}–</p>
              <p>{{ event.abbr_ending_day }}</p>
              {% elif event.end_time %}
              <p>{{ event.abbr_starting_day }}–</p>
              <p>{{ event.abbr_ending_date }}, {{ event.end_time }}</p>
              {% else %}
              <p>{{ event.abbr_starting_day }}–</p>
              <p>{{ event.abbr_ending_day }}</p>
              {% endif %}
            {% endif %}
            </div>
            <div class="event-name">
              <p>{{ event.name }}</p>
            </div>
            <div class="event-description">
              {% if event.description %}
              <p>{{ event.description }}</p>
              {% endif %}
            </div>
          </section>
        {% if event.user_id==user_id %}
        </a>
        {% endif %}
      </section>

      <section class="spacer">
      </section>

    </section>

</main>

<footer>
  {% include "footer.html" %}
  {% include "footer-nav.html" %}
</footer>

<section id="user-menu-background" class="modal">
</section>

<script>
  var userMenuBackground = document.getElementById("user-menu-background");

  function openUserMenu() {
    document.getElementById("user-account-menu").style.width = "350px";
    userMenuBackground.style.display = "grid";
  }

  function closeUserMenu() {
    document.getElementById("user-account-menu").style.width = "0";
    userMenuBackground.style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target == userMenuBackground) {
      closeUserMenu();
    }
  }
</script>

{% endblock %}
