{% extends "base.html" %}
{% block content %}

<header id="header">
  <div class="header-bar-top"></div>
  <div class="header-bar-mid"></div>
  <div class="header-bar-bot"></div>
  <h1 class="title">{{ event.name }}</h1>
  {% include "login-menu.html" %}
  <a href="javascript:void(0)"
     id="user-account-button"
     title="open menu"
     onclick="openUserMenu()">
    <b>☰</b>
  </a>
</header>

<main>
    {% include "user-account-menu.html" %}

    {% if hosting %}
    <section class="account-actions-nav">
      <section class="account-actions-bar">
        <div id="hosting-status"
             title="hosting status">
           <img id="hosting-img"
                src="{{ url_for('static', filename='img/hosting.svg') }}"
                title="hosting status"
                alt="Hosting event">
        </div>
      </section>
    </section>
    {% elif 'username' in session %}
    <section class="account-actions-nav">
      <section class="account-actions-bar">
        <a href="javascript:void(0)"
           id="attending-button"
           title="attend"
           onclick="">
           <img id="attending-img"
                src=""
                title="attending"
                alt="Attending event">
        </a>
        <a href="javascript:void(0)"
           id="considering-button"
           title="consider"
           onclick="">
           <img id="considering-img"
                src="{{ url_for('static', filename='img/considering.svg') }}"
                title="considering"
                alt="Considering event">
        </a>
      </section>
    </section>
    {% endif %}

    <section id="event-container">

      <section class="date-wrapper">
      {% if event.start_date and event.end_date and event.start_date != event.end_date %}
        {% if event.starting_date and event.ending_date %}
        <p class="event-date">{{ event.starting_date }} – {{ event.ending_date }}</p>
        {% endif %}
      {% elif event.start_date %}
        {% if event.starting_date %}
        <p class="event-date">{{ event.starting_date }}</p>
        {% endif %}
      {% endif %}
        {% if event.user_id==user_id %}
        <a href="{{url_for('update_event', activity_id=activity.id, event_id=event.id)}}"
           class="display-event"
           title="modify event">
        {% else %}
        <section class="display-event">
        {% endif %}
          <section class="event-wrapper span-date-wrapper">
            <div class="event-time">
            {% if event.start_date and event.end_date and event.start_date==event.end_date %}
              {% if event.start_time and event.end_time %}
              <p>{{ event.start_time }}–{{ event.end_time }}</p>
              {% elif event.start_time %}
              <p>begins {{ event.start_time }}</p>
              {% elif event.end_time %}
              <p>finishes {{ event.end_time }}</p>
              {% else %}
              <p>all day</p>
              {% endif %}
            {% elif event.start_date and event.end_date and event.start_date!=event.end_date %}
              {% if event.start_time and event.end_time %}
              <p>{{ event.abbr_starting_date }}, {{ event.start_time }}–</p>
              <p>{{ event.abbr_ending_date }}, {{ event.end_time }}</p>
              {% elif event.start_time %}
              <p>{{ event.abbr_starting_date }}, {{ event.start_time }}–</p>
              <p>{{ event.abbr_ending_day }}</p>
              {% elif event.end_time %}
              <p>{{ event.abbr_starting_day }}–</p>
              <p>{{ event.abbr_ending_date }}, {{ event.end_time }}</p>
              {% else %}
              <p>{{ event.abbr_starting_day }}–</p>
              <p>{{ event.abbr_ending_day }}</p>
              {% endif %}
            {% endif %}
            </div>
            <div class="event-name">
              <p>{{ event.name }}</p>
            </div>
            <div class="event-description">
              {% if event.description %}
              <p>{{ event.description }}</p>
              {% endif %}
            </div>
          </section>
        {% if event.user_id==user_id %}
        </a>
        {% else %}
        </section>
        {% endif %}
      </section>

      <section class="spacer">
      </section>

    </section>

</main>

<footer>
  {% include "footer.html" %}
  {% include "footer-nav.html" %}
</footer>

<section id="user-menu-background" class="modal">
</section>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    updateAttendingStatusFromServer();
    updateConsideringStatusFromServer();
  });

  function updateAttendingStatusFromServer() {
    var request = new XMLHttpRequest();
    request.open('GET',
                 "{{url_for('check_attending_status', activity_id=activity.id, event_id=event.id)}}",
                 true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    request.onload = function() {
      if (this.status >= 200 && this.status < 400) {
        // retrieve attending status from server
        data = JSON.parse(this.response);
        document.getElementById("attending-img").setAttribute("src", data.Attending_Status_Image);
        document.getElementById("attending-button").setAttribute("onclick", data.Attending_Status_Button);
      }
      else {
        // encountered server error
        document.getElementById("attending-img").setAttribute("src", "{{ url_for('static', filename='img/error-attending.svg') }}");
        console.log("ERROR: encountered server error while retrieving attending status");
      }
    };
    request.onerror = function() {
      // XMLHttpRequest transaction failed
      document.getElementById("attending-img").setAttribute("src", "{{ url_for('static', filename='img/error-attending.svg') }}");
      console.log("ERROR: transaction to retrieve attending status failed");
    };
    request.send();
  }

  function attendEvent() {
    var request = new XMLHttpRequest();
    request.open('POST',
                 "{{url_for('attend_event', activity_id=activity.id, event_id=event.id)}}",
                 true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    request.onload = function() {
      if (this.status >= 200 && this.status < 400) {
        // update attending status from server
        updateAttendingStatusFromServer();
        updateConsideringStatusFromServer();
      }
      else {
        // encountered server error
        console.log("ERROR: encountered server error while attending event");
        updateAttendingStatusFromServer();
        updateConsideringStatusFromServer();
      }
    };
    request.onerror = function() {
      // XMLHttpRequest transaction failed
      console.log("ERROR: transaction to attend event failed");
      updateAttendingStatusFromServer();
      updateConsideringStatusFromServer();
    };
    request.send();
  }

  function leaveEvent() {
    var request = new XMLHttpRequest();
    request.open('POST',
                 "{{url_for('leave_event', activity_id=activity.id, event_id=event.id)}}",
                 true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    request.onload = function() {
      if (this.status >= 200 && this.status < 400) {
        // update attending status from server
        updateAttendingStatusFromServer();
      }
      else {
        // encountered server error
        console.log("ERROR: encountered server error while leaving event");
        updateAttendingStatusFromServer();
      }
    };
    request.onerror = function() {
      // XMLHttpRequest transaction failed
      console.log("ERROR: transaction to leave event failed");
      updateAttendingStatusFromServer();
    };
    request.send();
  }

  function updateConsideringStatusFromServer() {
    var request = new XMLHttpRequest();
    request.open('GET',
                 "{{url_for('check_considering_status', activity_id=activity.id, event_id=event.id)}}",
                 true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    request.onload = function() {
      if (this.status >= 200 && this.status < 400) {
        // retrieve considering status from server
        data = JSON.parse(this.response);
        document.getElementById("considering-img").setAttribute("src", data.Considering_Status_Image);
        document.getElementById("considering-button").setAttribute("onclick", data.Considering_Status_Button);
      }
      else {
        // encountered server error
        document.getElementById("considering-img").setAttribute("src", "{{ url_for('static', filename='img/error-considering.svg') }}");
        console.log("ERROR: encountered server error while retrieving considering status");
      }
    };
    request.onerror = function() {
      // XMLHttpRequest transaction failed
      document.getElementById("considering-img").setAttribute("src", "{{ url_for('static', filename='img/error-considering.svg') }}");
      console.log("ERROR: transaction to retrieve considering status failed");
    };
    request.send();
  }

  function considerEvent() {
    var request = new XMLHttpRequest();
    request.open('POST',
                 "{{url_for('consider_event', activity_id=activity.id, event_id=event.id)}}",
                 true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    request.onload = function() {
      if (this.status >= 200 && this.status < 400) {
        // update considering status from server
        updateConsideringStatusFromServer();
        updateAttendingStatusFromServer();
      }
      else {
        // encountered server error
        console.log("ERROR: encountered server error while considering event");
        updateConsideringStatusFromServer();
        updateAttendingStatusFromServer();
      }
    };
    request.onerror = function() {
      // XMLHttpRequest transaction failed
      console.log("ERROR: transaction to consider event failed");
      updateConsideringStatusFromServer();
      updateAttendingStatusFromServer();
    };
    request.send();
  }

  function unconsiderEvent() {
    var request = new XMLHttpRequest();
    request.open('POST',
                 "{{url_for('unconsider_event', activity_id=activity.id, event_id=event.id)}}",
                 true);
    request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
    request.onload = function() {
      if (this.status >= 200 && this.status < 400) {
        // update considering status from server
        updateConsideringStatusFromServer();
      }
      else {
        // encountered server error
        console.log("ERROR: encountered server error while unconsidering event");
        updateConsideringStatusFromServer();
      }
    };
    request.onerror = function() {
      // XMLHttpRequest transaction failed
      console.log("ERROR: transaction to unconsider event failed");
      updateConsideringStatusFromServer();
    };
    request.send();
  }

  var userMenuBackground = document.getElementById("user-menu-background");

  function openUserMenu() {
    document.getElementById("user-account-menu").style.width = "350px";
    userMenuBackground.style.display = "grid";
  }

  function closeUserMenu() {
    document.getElementById("user-account-menu").style.width = "0";
    userMenuBackground.style.display = "none";
  }

  window.onclick = function(event) {
    if (event.target == userMenuBackground) {
      closeUserMenu();
    }
  }
</script>

{% endblock %}
