{% extends "base.html" %}
{% block content %}

<header id="header">
  <div class="header-bar-top"></div>
  <div class="header-bar-mid"></div>
  <div class="header-bar-bot"></div>
  <h1 class="title">{{ activity.name.title() }}</h1>
  {% include "login-menu.html" %}
  <a href="javascript:void(0)" id="user-account-button" onclick="openUserMenu()">
    <b>☰</b>
  </a>
</header>

<main>
    {% include "user-account-menu.html" %}

    <!-- events list: start -->
    <section id="event-container">
    {% for event in events %}
      {% if loop.first and loop.changed(event.start_date) %}
      <section class="date-wrapper">
        <p class="event-date">{{ event.starting_date_long_form }}</p>
      {% elif loop.changed(event.start_date) %}
      </section>
      <section class="date-wrapper">
        <p class="event-date">{{ event.starting_date_long_form }}</p>
      {% endif %}
        <a href="{{url_for('display_event', activity_id=activity.id, event_id=event.id)}}"
           class="display-event">
          <section class="event-wrapper">
            <div class="event-time">
              <p>{{ event.start_time_12_hour_notation }}–{{ event.end_time_12_hour_notation }}</p>
            </div>
            <div class="event-name">
              <p>{{ event.name }}</p>
            </div>
            <div class="event-description">
              <p>{{ event.description }}</p>
            </div>
          </section>
        </a>
      {% if loop.last %}
      </section>
      {% endif %}
    {% endfor %}
    </section>
    <!-- events list: end -->

</main>

<footer>
</footer>

<script>
  function openUserMenu() {
    document.getElementById("user-account-menu").style.width = "350px";
  }

  function closeUserMenu() {
    document.getElementById("user-account-menu").style.width = "0";
  }
</script>

{% endblock %}
