<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="utf-8">
  </head>

  <body>

    <header>
      <h1>{{ event.name }}</h1>
    </header>

    <main>

        <div>
          <a href="{{url_for('update_event', activity_id=activity.id, event_id=event.id)}}">
              <h1>Edit {{ event.name }}</h1>
          </a>
        </div>
        <div>
          <a href="{{url_for('delete_event', activity_id=activity.id, event_id=event.id)}}">
              <h1>Delete {{ event.name }}</h1>
          </a>
        </div>

        <section>
          <div>
            <p>Start: {{ event.start_date }} at {{ event.start_time }}</p>
          </div>
          <div>
            <p>End: {{ event.end_date }} at {{ event.end_time }}</p>
          </div>
          <div>
            <p>{{ event.description }}</p>
          </div>
        </section>

        <div>
          <a href="{{url_for('display_activity', activity_id=activity.id)}}">
              <h1>return to {{ activity.name }} events</h1>
          </a>
        </div>

    </main>

    <footer>
    </footer>

  </body>

</html>
