<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="utf-8">
  </head>

  <body>

    <header>
      <h1>{{ activity.name }}</h1>
    </header>

    <main>

        {% for event in events %}

        <section>
          <div>
            <p>event.id: {{ event.id }} -> {{ event.name }}</p>
          </div>
          <div>
            <p>Start: {{ event.start_date }} at {{ event.start_time }}</p>
          </div>
          <div>
            <p>End: {{ event.end_date }} at {{ event.end_time }}</p>
          </div>
          <div>
            <p>{{ event.description }}</p>
          </div>
        </section>

        {% endfor %}

    </main>

    <footer>
    </footer>

  </body>

</html>
