<div class="login-link">
  {% if 'username' not in session %}
  <a href="{{url_for('user_login')}}"
     title="login">login</a>
  {% elif 'picture' in session %}
  <img id="account-image-small"
       src="{{session['picture']}}"
       title="{{session['username']}}"
       alt="{{session['username']}}'s profile photo">
  <a href="{{url_for('user_logout')}}"
     id="logout-link"
     title="logout">logout</a>
  {% else %}
  <a href="{{url_for('user_logout')}}"
     id="logout-link"
     title="logout">logout</a>
  {% endif %}
</div>
