{% extends "base.html" %}
{% block content %}

<header id="header">
  <div class="header-bar-top"></div>
  <div class="header-bar-mid"></div>
  <div class="header-bar-bot"></div>
  <h1 class="title">create activity</h1>
  {% include "login-menu.html" %}
  <a href="javascript:void(0)"
     id="user-account-button"
     title="open menu"
     onclick="openUserMenu()">
    <b>☰</b>
  </a>
</header>

<main>
    {% include "user-account-menu.html" %}

    <form action="{{ url_for('make_activity') }}"
          method="post"
          id="form-container">
      <section class="form-wrapper">
        <p class="form-title">new activity</p>
          <section class="field-wrapper">
            {% if error_msg and 'name' in error_msg %}
            <p class="input-title">error: {{ error_msg['name'] }}</p>
            {% else %}
            <p class="input-title">name</p>
            {% endif %}
          </section>
          <fieldset class="field-wrapper">
            <legend>Activity Name</legend>
            <label for="name">activity name</label>
            <input type="text"
                   size="32"
                   id="name"
                   name="name"
                   class="input-field"
                   title="select name"
                   placeholder="enter the name of the activity here"
                   {% if previous and previous.name %}
                   value="{{previous.name}}"
                   {% endif %}>
          </fieldset>
          <section class="field-wrapper">
            {% if error_msg and 'icon' in error_msg %}
            <p class="input-title">error: {{ error_msg['icon'] }}</p>
            {% else %}
            <p class="input-title">icon</p>
            {% endif %}
          </section>
          <fieldset class="field-wrapper">
            <legend>Activity Icon</legend>
            <label for="icon">activity icon</label>
            <!-- open select-activity-icon modal -->
            <a id="modal-open">
              <img class="icon"
                   id="iconImage"
                   {% if previous and previous.icon %}
                   src="{{previous.icon}}"
                   {% else %}
                   src="/static/img/placeholder-logo.svg"
                   {% endif %}
                   title="select icon"
                   alt="select activity's icon">
            </a>
            <input type="hidden"
                   size="16"
                   id="icon"
                   name="icon"
                   class="input-field"
                   {% if previous and previous.icon %}
                   value="{{previous.icon}}"
                   {% else %}
                   value="/static/img/placeholder-logo.svg"
                   {% endif %}>
          </fieldset>
          <fieldset class="field-wrapper bottom-bar">
            <a href="{{url_for('display_activities')}}"
               id="cancel-activity">cancel</a>
            <legend>Submit Activity</legend>
            <label for="submit-activity">submit activity</label>
            <input type="submit"
                   value="submit"
                   id="submit-activity">
          </fieldset>
      </section>
    </form>

</main>

<footer>
  {% include "footer.html" %}
</footer>

{% include "select-activity-icon.html" %}

<section id="user-menu-background" class="modal">
</section>

<script>
  // user account menu
  var userMenuBackground = document.getElementById("user-menu-background");

  function openUserMenu() {
    document.getElementById("user-account-menu").style.width = "350px";
    userMenuBackground.style.display = "grid";
  }

  function closeUserMenu() {
    document.getElementById("user-account-menu").style.width = "0";
    userMenuBackground.style.display = "none";
  }

  // select icon modal
  var iconModalBackground = document.getElementById("icon-modal-background");
  var iconModal = document.getElementById("icon-modal-container");

  var openModal = document.getElementById("modal-open");
  var closeModal = document.getElementById("modal-close");

  function openIconModal() {
    iconModalBackground.style.display = "grid";
    iconModal.style.display = "grid";
    adjustActivityContainerRowHeight();
  }

  function closeIconModal() {
    iconModal.style.display = "none";
    iconModalBackground.style.display = "none";
  }

  openModal.onclick = function() {
    openIconModal();
  }

  closeModal.onclick = function() {
    closeIconModal();
  }

  function setActivityIcon(newIcon) {
    var iconInput = document.getElementById("icon");
    iconInput.value = newIcon;

    var iconImage = document.getElementById("iconImage");
    iconImage.src = newIcon;

    closeIconModal();
  }

  /*
   * Closes both the user account menu or the select icon modal
   * if the faded background of the page is clicked.
   */
  window.onclick = function(event) {
    if (event.target == userMenuBackground) {
      closeUserMenu();
    } else if (event.target == iconModalBackground) {
      closeIconModal();
    }
  }
</script>

<script>
  window.addEventListener("resize", adjustActivityContainerRowHeight);

  var activities = document.getElementById('activity-container');
  /*
   * Adjust each row height in 'grid-auto-rows' to match each
   * column width in 'grid-template-columns' to allow the shape
   * of each activity grid item to be set to a circle.
   */
  function adjustActivityContainerRowHeight() {
    var style = window.getComputedStyle(activities);
    // only require the width from one column
    var columnWidth =
        style.getPropertyValue('grid-template-columns').split(" ", 1);
    activities.style.gridAutoRows = columnWidth;
  };

  // Apply inital adjustment to row height
  window.onresize = adjustActivityContainerRowHeight();
</script>

{% endblock %}
