  {% extends "base.html" %}
  {% include "login-menu.html" %}
  {% block content %}

    <header>
      <h1>Create Activity</h1>
    </header>

    <main>

        <form action="{{ url_for('make_activity') }}" method="post" id="create-activity">

          <section>

            <fieldset>
              <legend>
                <label for="name">Name:</label>
              </legend>
              <input type="text" size="32" id="name" name="name">
            </fieldset>

            <input type="submit" value="Create Activity">

          </section>

        </form>

    </main>

    <footer>
    </footer>

  {% endblock %}
